<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.dianaupham.swirlytapapp.swirlytap"
    android:versionCode="3"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.SinglePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.levelPlay"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.DatabaseMainActivity"
            android:label="DatabaseActiviy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.PlayAgain"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.Register"
            android:label="Register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.Login"
            android:label="Login"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3c3dfc16c40dbf849a9915c2ece897ac19b071d6" />

        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.HighScoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_high_score"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.WelcomeScreen"
            android:label="StartScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.Profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.Update"
            android:label="Update"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gmail.dianaupham.swirlytapapp.PlayAgain_Level"
            android:label="@string/title_activity_play_again__level"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
