<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spencer.swirlytap" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SinglePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".levelPlay"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".PlayAgain"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".mySQLActivity"
            android:label="@string/title_activity_my_sql" >
        </activity>
        <activity
            android:name= ".RegisterActivity"
            android:label="RegisterActivity" >
            </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3c3dfc16c40dbf849a9915c2ece897ac19b071d6" />
    </application>

</manifest>
